<%- include header %>

<div class="container-fluid">

	<script>
        $(function(){
		$(".add").click(function(){
				var holder=$(this);
				var data={};
				var cartno=parseInt($("#cartno").text());
				data.cid=parseInt($("#cid").text());
				data.cname=$("#cname").text();
				data.cimage=$("#cimage").text();
				data.cprice=$("#cprice").text();
				data.name=$("#name").text();

				$.ajax({
				type:"POST",
				data:JSON.stringify(data),
				contentType: 'application/json',
				url:"/cart",
				success:function(data){
					$("#carttips").text("已添加至购物车");
					holder.remove();
					$("#cartno").text(cartno+1);
				}
				});
		});
	});
    </script>
<div class="row-fluid">
 <div class="span2">
        </div>
        <div class="span6">
            <div class="col-xs-12">
                <div class="thumbnail">
                    <span id="cid" class="hidden"><%= commodity.cid %></span>
                    <h4>商品名称：<span id="cname"><%= commodity.cname %></span></h4>
                    <div class="caption">
                        <h4>
                            商家：<a id="name" href="/u/<%= commodity.name %>"><%= commodity.name %></a>
                        </h4>
                        <p id="cimage"><%- commodity.cimage %></p>
                        <h6>￥:<span id="cprice"><strong><%= commodity.cprice %> 元</strong></span></h6>
                        <span id="carttips" class="tips"></span>
                        <a class="add btn btn-danger"><i class="fa fa-shopping-cart"></i>加入购物车</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4">
        </div>
</div>
</div>
<%- include footer %>
