<%- include header %>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
        </div>
        <div class="span6">
            <% commoditys.forEach(function (commodity, index) { %>
            <div class="span4" style="5px 10px 10px 10px">
                <p><h2><a href="u/<%= commodity.name %>/<%= commodity.time.day %>/<%= commodity.cname %>"><%= commodity.cname %></a></h2></p>
                <p class="info">
                    商家：<a href="u/<%= commodity.name %>"><%= commodity.name %></a>
                </p>
                <p><%- commodity.cimage %></p>
                <p>价格：<%- commodity.cprice %> 元</p>
            </div>
                <% }) %>
        </div>
        <div class="span4">
        </div>
    </div>
</div>


<%-include footer%>
