<%- include  header %>
<div class="container">

    <div class="row">
        <%if ( orders.length<1){ %>
            订单为空！
            <% } %>
    </div>

    <div class="container">

        <% if (orders && orders.length >0 ){
        orders.forEach( function(order,index ){  %>
        <div>
            <div><h4>订单编号：<%= order._id %></h4></div>
            <table class="table" border="1">
                <tr>
                    <td><h6>商品名称：<%= order.cname %></h6></td>
                    <td><h6>单价￥：<%= order.cprice%></h6></td>
                    <td><h6>数量：<%= order.camount%></h6></td>
                    <td><h6>本单总价：￥<%= order.cprice*order.camount %></h6></td>
                    <td><h6>下单时间：<%= order.time.minute %></h6></td>
                </tr>
                <tr>
                    <tr><h6>收货地址：<%= order.ip %></h6></tr>
                    <tr><h6>收货人：<%= order.who %></h6></tr>
                    <tr><h6>联系方式：<%=order.phone%></h6></tr>
                </tr>
            </table>
            <hr />
        </div>
        <%})}%>
    </div>
</div>

<%- include footer %>
